all:
  hosts:
    podman-host.example.com:
      ansible_host: 192.168.42.40
      ansible_connection: ssh
      ansible_ssh_user: root
      ansible_ssh_private_key_file: ~/.ssh/id_rsa
      #ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
      #ansible_python_interpreter: /usr/bin/python3

      # This defines the services living on the host
      gozones_services:
        - name: dns-core-1
          network:
            name: lanBridge
            ip: 192.168.42.9
            port: 53
          resources:
            limits:
              cpu: 500m
              memory: 1Gi

        - name: dns-core-2
          network:
            name: lanBridge
            ip: 192.168.42.10
            port: 53
          resources:
            limits:
              cpu: 500m
              memory: 1Gi